* {
    margin: 0;
}

.logo {
    font-family: 'Irish Grover', cursive;
    font-size: 65px;
    color: #536693;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}

.homeunderline {
    border-radius: 10px;
    height: 5px;
    width: 135px;
    box-shadow: 0 45px 0 0 #93B7EF;
}
.aboutunderline {
    border-radius: 10px;
    height: 5px;
    width: 150px;
    box-shadow: 0 45px 0 0 #93B7EF;
}

.contactunderline {
    border-radius: 10px;
    height: 5px;
    width: 206px;
    box-shadow: 0 45px 0 0 #93B7EF;
}

.textabout {
    font-family: 'Jost', sans-serif;
    font-size: 45px;
    font-weight: 200;
    transform: translate(60px, 240px);
    display: inline-block;
    position: relative;
    left: 20px;
    display: flex;
    z-index: 5;
}

.titleabout {
    font-family: 'Jomhuria', serif;
    font-size: 200px;
    text-shadow: 5px 15px #D9DEE5;
    transform: translate(60px, 140px);
    display: flex;
    z-index: 4;
}
.titlewelcome {
    font-family: 'Jomhuria', serif;
    font-size: 315px;
    text-shadow: 5px 15px #D9DEE5;
    transform: translate(75px, 400px);
    display: flex;
}

.pfphome {
    transform: translate(65px, -200px);
}

.pictureofme {
    transform: translate(1250px, -275px);
    display: flex;
}