* {
    margin: 0;
}

.logo {
    font-family: 'Irish Grover', cursive;
    font-size: 65px;
    color: #536693;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}



.homeunderline {
    border-radius: 10px;
    height: 5px;
    width: 135px;
    box-shadow: 0 45px 0 0 #93B7EF;
}
.aboutunderline {
    border-radius: 10px;
    height: 5px;
    width: 150px;
    box-shadow: 0 45px 0 0 #93B7EF;
}

.contactunderline {
    border-radius: 10px;
    height: 5px;
    width: 206px;
    box-shadow: 0 45px 0 0 #93B7EF;
}

.textabout {
    font-family: 'Jost', sans-serif;
    font-size: 45px;
    font-weight: 200;
    transform: translate(60px, 240px);
    display: inline-block;
    position: relative;
    left: 20px;
    display: flex;
    z-index: 5;
}

.titleabout {
    font-family: 'Jomhuria', serif;
    font-size: 200px;
    text-shadow: 5px 15px #D9DEE5;
    transform: translate(60px, 140px);
    display: flex;
    z-index: 4;
}
.titlewelcome {
    font-family: 'Jomhuria', serif;
    font-size: 315px;
    text-shadow: 5px 15px #D9DEE5;
    transform: translate(75px, 400px);
    display: flex;
}

.pfphome {
    transform: translate(65px, -200px);
}

.pictureofme {
    transform: translate(1250px, -275px);
    display: flex;
}

.buttonsubmit {
    background-color: #536693;
    border: none;
    color: white;
    padding: 15px 74px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 42px;
    font-weight: 100;
    border-radius: 87px;
    cursor:pointer;
    transform: translate(152px, 0px);
  }

  .contact-container {
    height: 100vh;
    display: flex;
    transform: translate(1000px, 200px);
    z-index: 1;
    position: relative;
  }

  .contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .contact-inputs {
    width: 600px;
    height: 55px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
    font-weight: 100;
    border-radius: 12px;
    border-color: black;
    border: 2px solid black;
    outline: none;
    color: black;
    z-index: 8;
  }

  .contact-inputs-message {
    width: 600px;
    height: 220px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
    font-weight: 100;
    border-radius: 12px;
    border-color: black;
    color: black;
    resize: none;
    border-width: 2px 2px;
    outline: none;
  }

  .box {
    width: 700px;
    height: 700px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-color: black;
    background-color: white;
    display: flex;
    position: absolute;
    z-index: 0;
    transform: translate(935px, 65px);
    border-radius: 10px;
  }

  .boxtransparency {
    opacity: 0.8;
  }

  .titlecontact {
    font-family: 'Jomhuria', serif;
    font-size: 200px;
    text-shadow: 5px 15px #D9DEE5;
    display: flex;
    transform: translate(100px, -910px);
    z-index: 3;
  }

  .minititlecontact {
    font-family: 'Jomhuria', serif;
    font-size: 100px;
    text-shadow: 5px 15px #D9DEE5;
    display: flex;
    transform: translate(110px, -945px);
    z-index: 3;
  }

  .textcontact {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    display: flex;
    transform: translate(108px, -825px);
    line-height: 75px;
    z-index: 4;
  }

  .workunderline {
    border-radius: 10px;
    height: 5px;
    width: 136px;
    box-shadow: 0 45px 0 0 #93B7EF;
  }

  .titlework {
    font-family: 'Jomhuria', serif;
    font-size: 200px;
    text-shadow: 5px 15px #D9DEE5;
    display: flex;
    transform: translate(60px,45px)
  }

  .textwork {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
    display: flex;
  }

  .mylanguages {
    transform: translate(63px, 190px);
  }

  .titlecontact,
.minititlecontact,
.textcontact {
    pointer-events: none;
}

.previousworks {
  transform: translate(410px, 190px);
}

.skillset {
  transform: translate(678px, 190px);
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.mylanguagetypes {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 34px;
  transform: translate(63px, 220px);
  display: flex;
  line-height: 60px;
}

.xsquare {
  transform: translate(801px, 50px);
  display: flex;
}

.mycodinglanguages {
  transform: translate(1293px, -172px);
  display: flex;
}